[
	{port, 8080},
	{server_name, "localhost"},
	{server_root, "."},
	{document_root, "htdocs"},
	{alias, {"/static", "static"}},
	{directory_index, ["index.html"]},
	{modules, [
		mod_alias,
		mod_auth,
		mod_dir,
		mod_get,
		mod_log,
		mod_soyuzweb
	]},
	{mime_types, [
		{"html", "text/html"},
		{"css", "text/css"},
		{"js", "application/javascript"}
	]}
].