[
	{soyuz, [
		{default_board, [
			{title},
			{showtitletxt},
			{showtitleimg},
			{titleimg},
			{threads_displayed},
			{threads_listed},
			{replies_per_thread},
			{anonymous},
			{allow_threads},
			{allow_replies},
			{autoclose_limit},
			{autoclose_days},
			{max_res},
			{max_threads},
			{max_posts},
			{max_field_length},
			{max_comment_length},
			{max_lines},
			{trim_method},
			{forced_anon}
		]},
		{boards, [
%%			{"b", [
%%				{default_style, "futaba.css"}
%%          ]}
		]}
	]},
	{soyuzweb, [
		{default_board, [
			{default_style}
		]}
	]},
	{mnesia, []},
	{inets,[
		{services, [
			{httpd, [{proplist_file, "etc/httpd.config"}]}
		]}
	]}
].